@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  transition: all .5s ease;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("/public/Nike\ Website\ -\ Landing\ Page.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
header {
  background-color: #e4dfdc;
  border-radius: 30px;
  border: 4px solid white;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 32px 70px;
}
